.main h1:nth-child(2) {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  color: #01f205;
  width: 200px;
  animation: type 3s steps(30, end) forwards infinite;
}
.main h1:nth-child(1) {
  color: #01f205;
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  99% {
    border-right: 2px solid green;
  }
  100% {
    border-right: none;
  }
}
